<ion-view view-title="Zeitleiste">
  <ion-content class="divadding">
    <div class="card">
    <div class="item item-divider strong">Uhrzeit</div>
    <div class="item item-text-wrap text-center">
      <div class="text-center">{{time | date:'d.m.yyyy'}}</div>
      <div class="text-center">{{time | date:'HH:mm:ss'}}</div>
    </div>
    </div>
    <div class="card">
    <div class="item item-divider strong">
      Zeit bis zur standesamtlichen Hochzeit:
    </div>
    <div class="item item-text-wrap">
      <div class="row"><div class="col col-50">Tage :</div><div class="col col-50 strong">{{diffToZwischen.t}}</div></div>
      <div class="row"><div class="col col-50">Stunden :</div><div class="col col-50 strong">{{diffToZwischen.h}}</div></div>
      <div class="row"><div class="col col-50">Minuten :</div><div class="col col-50 strong">{{diffToZwischen.m}}</div></div>
      <div class="row"><div class="col col-50">Sekunden :</div><div class="col col-50 strong">{{diffToZwischen.s}}</div></div>
    </div>
    </div>
    <div class="card">
    <div class="item item-divider strong">
      Zeit bis zur kirchlichen Hochzeit:
    </div>
    <div class="item item-text-wrap">
      <div class="row"><div class="col col-50">Tage :</div><div class="col col-50 strong">{{diffToFinal.t}}</div></div>
      <div class="row"><div class="col col-50">Stunden :</div><div class="col col-50 strong">{{diffToFinal.h}}</div></div>
      <div class="row"><div class="col col-50">Minuten :</div><div class="col col-50 strong">{{diffToFinal.m}}</div></div>
      <div class="row"><div class="col col-50">Sekunden :</div><div class="col col-50 strong">{{diffToFinal.s}}</div></div>
    </div>
    </div>
  </ion-content>
</ion-view>
