
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Timer Tab -->
  <ion-tab title="Timer" icon-off="ion-ios-stopwatch" icon-on="ion-ios-stopwatch-outline" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- ToDo Tab -->
  <ion-tab title="ToDo" icon-off="ion-ios-list" icon-on="ion-ios-list-outline" href="#/tab/todo">
    <ion-nav-view name="tab-todo"></ion-nav-view>
  </ion-tab>

  <!-- Coming Home Tab -->
  <ion-tab title="Coming Home" icon-off="ion-ios-world" icon-on="ion-ios-world" href="#/tab/cominghome">
    <ion-nav-view name="tab-cominghome"></ion-nav-view>
  </ion-tab>


</ion-tabs>
