/* Empty. Add your own CSS if you like */
.text-center{
	text-align: center;
	margin: auto;
}
.text-spread{
    letter-spacing: 0.1em;
    line-height: 1.1 em;
}
.strong{
	font-size: 110%;
	font-weight: bold;
}